<!-- Plantilla para crear un nuevo usuario -->

<h1>Crear Nuevo Usuario</h1>

<!-- Indicar al usuario que se ha creado un nuevo usuario con éxito -->
{% if mensaje_exito %}
    <p style="color: green;">{{ mensaje_exito }}</p>
{% endif %}
<!-- Mostrar errores de validación del formulario -->
{% if form.errors %}
    <p style="color: red;">Por favor, corrija los errores a continuación:</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar</button>
</form>