<!-- templates/tareas/mi_perfil.html -->

<h1>Mi perfil</h1>

<p><strong>Nombre de usuario:</strong> {{ usuario.username }}</p>
<p><strong>Email:</strong> {{ usuario.email }}</p>
<!-- Mostrar si el usuario es alumno o profesor --> 
<p><strong>Es alumno:</strong> {{ usuario.es_alumno | yesno:"Sí,No" }}</p>
<p><strong>Es profesor:</strong> {{ usuario.es_profesor | yesno:"Sí,No" }}</p>
<p><strong>Es superusuario:</strong> {{ usuario.is_superuser | yesno:"Sí,No" }}</p>
<p><strong>Fecha de registro:</strong> {{ usuario.date_joined }}</p>
<p><strong>Último inicio de sesión:</strong> {{ usuario.last_login }}</p>